name: Release Project

on:
  release:
    types:
      - prereleased
      - released

permissions:
  id-token: write
  contents: write
  packages: read

jobs:
  release:
    name: Release Project
    runs-on: windows-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Build changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          toTag: ${{ github.event.release.tag_name }}
          commitMode: true
          configuration: .github/changelog.json

      - name: Set up .NET
        uses: zyactions/dotnet-setup@v1
        with:
          global-json-file: global.json

      - name: Set up Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"
          Remove-Item -Path latest.zip

      - name: Restore .NET dependencies
        uses: zyactions/dotnet-restore@v1

      - name: Pack solution
        run: dotnet pack -c Release -p:Version=${{ github.event.release.tag_name }}

      - name: Push Packages
        run: dotnet nuget push 'artifacts/package/release/*.*' --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate

      - name: Update release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.event.release.tag_name }}
          allowUpdates: true
          prerelease: ${{ github.event.release.prerelease }}
          body: ${{ steps.changelog.outputs.changelog }}
          artifacts: artifacts/package/release/*.*
          makeLatest: true
